@import '../base/mapas';
@import '../base/extends';

.sectionBurgers {
    display: flex;
    width: 100%;
    padding-top: 9%;
    padding-bottom: 12%;
    object-position: right;
    @extend %fuenteTitulos;
    background-image: url(/Images/bgtest2.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;

    .containerBurgers {


        .card {}

        .conTitleBurg {

            color: whitesmoke;
            text-shadow: 0px 0px 15px gray;
            padding-bottom: 20px;
            font-style: italic;

            h2 {
                font-size: 4rem;


            }
        }

        .botonCatalogoBurger {
            display: flex;
            padding-top: 30px;
            justify-content: center;
        }
    }

    .container {
    
        .row {

            #catalogo {
                padding-top: 10px;


                .card {
                    position: relative;
                    background-color: whitesmoke;

                    &:hover .overlay {
                        height: 2rem;
                        opacity: 1;
                    }

                    &:hover {
                        @include escalar(scale(1.02));
                        transition: 150ms;
                        opacity: 95%;
                        position: relative;
                    }

                    .card-body {
                        padding-top: 2rem;
                        justify-content: center;
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;

                        .card-title {}

                        .card-text {}

                        .img {}

                        .btn {
                            margin-top: 1rem;
                            padding: 0.4rem 3rem;
                            font-size: 1.4rem;

                        }


                    }

                    .overlay {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        transition: .5s ease;
                        background-color: $amarillo-marca2;

                        .text {
                            color: white;
                            font-size: 1.4rem;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            -webkit-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                            text-align: center;

                        }
                    }
                }

            }

        }
    }

    .containerBotones {
        .row {
            .col {
                display: flex;
                flex-direction: row;
                justify-content:center;
                padding-right: 2rem;
                .input-group {
                    
                }
                button{
                    padding: 0.4rem;
                    margin-left: 0.05rem;
                }
                input{
                    

                }
            }
        }

    }
    .container{
        justify-content: center;
        align-items: center;
        .row{
            justify-content: center;
            align-items: center;
            .offcanvas{
                height: auto;
                width: 100%;
                display: flex;
                justify-items: center;
                align-content: center;
                align-items: center;
                .offcanvas-header{
                    color: white;
                }
                .offcanvas-body{
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    align-content: center;

                    .row{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .listaDelCarro{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .card{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .card-body{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    p{

                                    }
                                    img{
                                       
                                    }
                                    button{
                                       justify-self: center;
                                       align-items: center;
                                        
                                    }
                                }
                                
                               
                            }

                        }
                        #mostrarTotal{
                            color: white;
                            text-align: center;

                        }
                        #btnVaciarCarro{
                            width: 2rem;
                            
                            
                        }
                        #btnFinalizarCompra {
                            width: 2rem;
                        }
                    }

                }
            }
        }
    }

}